@font-face {
  font-family: MontSerrat;
  src: url(assets/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: MontSerrat, sans-serif;
}

h1 {
  text-align: center;
  color: #661aff;
}

input {
  border: 0;
}

button {
  background-color: transparent;
  border: 1px solid #661affa0;
  border-radius: 5px;
}
